# Edit and copy this file to config.py before launching!

from os import urandom

class Config:
	''' Container for the various configurations required within the backend.
	    The options are simply parsed by importing and instantiating this
	    class. '''

	host = None		#backend host address
	port = None		#host port
	secret = None		#secret key
	ssl_context = None

	user = None		#mysql user
	password = None		#mysql password
	dbhost = None		#database address
	dbport = None		#database port
	database = None		#service database
	charset = None		#charset, recommended utf8

	def __init__(self):
		self.host = "0.0.0.0"
		self.port = 5000
		self.secret = urandom(24)
		self.ssl_context = ('cert.pem', 'priv.key')

		self.user = 'dbbuser'
		self.password = 'dbpassword'
		self.dbhost = "127.0.0.1"
		self.dbport = 3306
		self.database = 'loungedb'
		self.charset = 'utf8'
